.footer {
  margin: 1rem auto;
  width: calc(100% - 2rem);
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

.footer-text {
  font-size: 0.800rem;
  font-weight: bold;
  color: #7a8ea8;
  line-height: 1;
  word-wrap: break-word;
}

.footer-text p {
  margin: 0;
}

.footer-text p+p {
  margin-top: 0.25rem;
}

@media (max-width: 640px) {
  .footer {
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: calc(100% - 1rem);
  }

  .footer-text {
    font-size: 0.75rem;
  }
}