.footer {
  margin: 1rem auto;
  width: calc(100% - 2rem); /* Account for left and right margins */
  text-align: center;
  box-sizing: border-box; /* Ensure padding and borders are included in width calculation */
  overflow: hidden; /* Prevent content from overflowing */
}

.footer-text {
  font-size: 0.800rem;
  font-weight: bold;
  color: #7a8ea8;
  line-height: 1;
  word-wrap: break-word; /* Ensure long words break properly */
}

.footer-text p {
  margin: 0;
}

.footer-text p+p {
  margin-top: 0.25rem;
}

/* Add responsive adjustments */
@media (max-width: 640px) {
  .footer {
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: calc(100% - 1rem); /* Adjust calculation for smaller margins */
  }

  .footer-text {
    font-size: 0.75rem;
  }
}